{% extends 'myapp/index_base.html' %}

{% block content %}
{% load static %}
    <div class="container px-6 mx-auto grid">
            <br>
            <!-- CTA -->
            <a
              class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
              href="https://idf.org/"
            >
              <div class="flex items-center">


                <span>内容来自国际糖尿病联合会（IDF）</span>
              </div>
              <span>了解更多 &RightArrow;</span>
            </a>


            <!-- 招聘列表 -->
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="px-4 py-4 w-full bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <h3 class="text-xl font-semibold text-gray-700 dark:text-gray-200">
                      糖尿病是一种慢性疾病，当胰腺不能再制造胰岛素或身体不能有效使用胰岛素时发生。
                    </h3>

                    <p class="px-4 py-4 text-l font-medium text-gray-600 dark:text-gray-400">

                          胰岛素是一种由胰腺产生的激素，它就像一把钥匙，让我们吃的食物中的葡萄糖从血液中进入体内细胞以产生能量。身体将所有碳水化合物食物分解成血液中的葡萄糖，胰岛素帮助葡萄糖进入细胞。
                          当身体不能有效地产生或使用胰岛素时，这会导致高血糖水平，称为高血糖症。长期高血糖水平与身体损伤和各种器官和组织的衰竭有关。
                   </p>
                <h3 class="mt-4 text-xl font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                  糖尿病有3种主要类型
                </h3>
                <div class="flex justify-center items-center">
                 <img src="{% static 'img/type1.png' %}"  width="200" height="200" alt="type1" class="center-image">
                </div>
                 <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                   <a href="https://idf.org/about-diabetes/type-1-diabetes/" class="text-purple-600 dark:text-purple-400 hover:underline">
                    1型糖尿病
                  </a>

                </h3>
                <p class="py-4 text-l font-medium text-gray-600 dark:text-gray-400" style="text-align: center;">

                           可以在任何年龄发展，需要胰岛素治疗才能生存。
                </p>

                <div class="flex justify-center items-center">
                 <img src="{% static 'img/type2.png' %}"  width="200" height="200" alt="type2" class="center-image">
                </div>
                <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                  <a href="https://idf.org/about-diabetes/type-2-diabetes/" class="text-purple-600 dark:text-purple-400 hover:underline">
                    2型糖尿病
                  </a>

                </h3>
                <p class="py-4 text-l font-medium text-gray-600 dark:text-gray-400" style="text-align: center;">

                          约占所有糖尿病的90%，在成人中更常见。
                </p>

                <div class="flex justify-center items-center">
                 <img src="{% static 'img/type3.png' %}"  width="200" height="200" alt="type3" class="center-image">
                </div>
                 <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                   <a href="https://idf.org/about-diabetes/gestational-diabetes/" class="text-purple-600 dark:text-purple-400 hover:underline">
                    妊娠期糖尿病
                  </a>

                </h3>
                <p class="py-4 text-l font-medium text-gray-600 dark:text-gray-400" style="text-align: center;">

                          在怀孕期间发生高血糖，并可能导致母亲和孩子的并发症。
                </p>
                <br>
                <hr>
                <br>
                <p class="px-4 py-4 text-l font-medium text-gray-600 dark:text-gray-400">
                  在IDF糖尿病地图集的第10版中，估计了2021年的糖尿病患病率，并预测到2030年和2045年。
                  糖尿病估计数适用于 20-79 岁的成年人，包括 1型和2型糖尿病，以及诊断和未诊断的糖尿病。
                </p>
                <br>
                <img src="{% static 'img/map_3.1.png' %}"  alt="map_3.1" class="center-image">
                <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                    地图 3.1 2021 年估计患有糖尿病的成年人（20-79 岁）总数
                </h3>
                <p class="px-4 py-4 text-l font-medium text-gray-600 dark:text-gray-400">
                  据估计，全世界有5.37亿20-79岁的成年人（占该年龄组所有成年人的10.5%）患有糖尿病。到2030年为6.43亿，到2045年为7.83亿
                  预计20-79岁的成年人将患有糖尿病。因此，虽然世界人口估计在此期间增长20%，但糖尿病患者人数估计增加46%（地图3.1，表3.1，地图3.2）。
                </p>
                <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                    表3.1 2021年、2030年和2045年糖尿病成人（20-79岁）估计总数
                </h3>
                <img src="{% static 'img/table_3.1.png' %}"  alt="table_3.1" class="center-image">
                <img src="{% static 'img/map_3.2.png' %}"  alt="map_3.2" class="center-image">
                <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                    地图 3.2 2021 年成人（20-79 岁）糖尿病年龄调整后估计患病率
                </h3>
                <p class="px-4 py-4 text-l font-medium text-gray-600 dark:text-gray-400">
                  2021年的糖尿病估计显示，按年龄划分的糖尿病患病率不断增加。预计2045年也有类似的趋势。20-24岁成年人的患病率最低（2021年为2.2%）（图3.1）。
                  在75-79 岁的糖尿病患病率估计为2021年为24.0%，预计2045年将上升至24.7%。世界人口老龄化将导致越来越多的糖尿病患者超过糖尿病享年60岁。
                </p>
                <img src="{% static 'img/figure_3.1.png' %}"   alt="figure_3.1" class="center-image">
                 <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                    图 3.1 2021年按年龄组分列的成人（20-79岁）糖尿病患者人数（列）和估计数2045年各年龄组患病率（黑线）
                </h3>
                <p class="px-4 py-4 text-l font-medium text-gray-600 dark:text-gray-400">
                  20-79岁女性的糖尿病患病率估计略低于男性（10.2% vs 10.8%).2021年，患有糖尿病的男性比女性多1770万。（图3.2）。
                </p>
                <img src="{% static 'img/figure_3.2.png' %}" alt="figure_3.2" class="center-image">
                 <h3 class="text-s font-semibold text-gray-700 dark:text-gray-200" style="text-align: center;">
                    图 3.2 2021年男性和女性糖尿病患病率（20-79岁）
                </h3>





              </div>

            </div>

            <!-- Cards -->
            <div class="grid gap-6 mt-8 md:grid-cols-2 xl:grid-cols-4">
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500"
                >
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                    ></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Total clients
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    6389
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500"
                >
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Account balance
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    $ 46,760.89
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500"
                >
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                    ></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    New sales
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    376
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500"
                >
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Pending contacts
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    35
                  </p>
                </div>
              </div>
            </div>

          </div>
{% endblock %}